.nav-header {
  padding: 20px;
}
.navigate-img {
  background-image: url(../../Img/bredcumbs-1.png);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.1);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.1;
  min-height: 410px;
}
.nav-header-section {
  height: 290px;
}
