.d-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container {
  max-width: 750px;
  margin: 4rem auto;
  font-family: Roboto;

  .card {
    color: #000;
    background: var(--whiteF);
    box-shadow: 0 0 20px rgb(0 0 0);
    width: 14rem;
    height: 22rem;
    border-radius: 8px;
    overflow: hidden;

    .card-img {
      perspective: 1000px;

      .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
      }

      /* Do an horizontal flip when you move the mouse over the flip box container */
      &:hover .flip-card-inner {
        transform: rotateY(180deg);
      }

      /* Position the front and back side */
      .flip-card-front,
      .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
      }

      /* Style the front side (fallback if image is missing) */
      .flip-card-front {
        background-color: #bbb;
        color: black;
      }

      /* Style the back side */
      .flip-card-back {
        background-color: dodgerblue;
        color: white;
        transform: rotateY(180deg);
      }

      img {
        width: 100%;
        height: 17rem;
        object-fit: cover;
        object-position: top;
      }
    }

    .card-body {
      padding: 1rem;
      margin-top: 17rem;

      h3 {
        margin: 0;
      }

      small {
        opacity: 0.6;
        margin-bottom: 0;
      }
    }
  }
}

.support-link {
  color: white;
  text-decoration: none;
  font-size: 14px;
  margin-left: 1rem;
}
